.ff-jost-black{ font-family: 'Jost Black'; }
.ff-jost-black-italic{ font-family: 'Jost Black Italic'; }
.ff-jost-bold{ font-family: 'Jost Bold'; }
.ff-jost-bold-italic{ font-family: 'Jost Bold Italic'; }
.ff-jost-extrabold{ font-family: 'Jost ExtraBold'; }
.ff-jost-extrabold-italic{ font-family: 'Jost ExtraBold Italic'; }
.ff-jost-extralight{ font-family: 'Jost ExtraLight'; }
.ff-jost-extralight-italic{ font-family: 'Jost ExtraLight Italic'; }
.ff-jost-italic{ font-family: 'Jost Italic'; }
.ff-jost-light{ font-family: 'Jost Light'; }
.ff-jost-lightitalic{ font-family: 'Jost Lightitalic'; }
.ff-jost-medium{ font-family: 'Jost Medium'; }
.ff-jost-medium-italic{ font-family: 'Jost Medium Italic'; }
.ff-jost{ font-family: 'Jost Regular'; }
.ff-jost-semibold{ font-family: 'Jost SemiBold'; }
.ff-jost-semibold-italic{ font-family: 'Jost SemiBold Italic'; }
.ff-jost-thin{ font-family: 'Jost Thin'; }
.ff-jost-thin-italic{ font-family: 'Jost Thin Italic'; }
